<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma table</title>
</head>
<body>
   <table>
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td>id</td>
            <td>nom</td>
            <td>Prenom</td>
            <td>Email</td>
            <td>M</td>
            <td><img src="/images/delete.svg" alt="delete"/><span><img src="/images/update.svg" alt="update" srcset=""></span></td>
        </tr>
    </tbody>
   </table> 
</body>
</html>